.contenar-main {
  display: flex;
  flex-direction: column;
}
.nav-section {
  display: flex;
  justify-content: center;
  align-items: space-around;
  height: 55px;
  background-color: white;
}
.post_home {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.storys-department {
  display: flex;
  flex-direction: column;
  border: 1px rgb(219, 219, 219) solid;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 16px;
}
.map_story {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 3%;
  
}
.img_story {
  height: 50px;
  width: 50px;
  border: 1px solid rgb(133, 152, 86);
  border-radius: 9999px;
  cursor: pointer;
}
.img_story:hover{
  border: 2px solid rgb(203, 128, 58);
}
.middle_side {
  width: 50%;
}

.left_side {
  width: 25%;
  
}
.right_side {
  width: 25%;

}
.main_story {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  
  
  /* border: 1px black solid; */
}
.set{
  cursor: pointer;
  border-radius: 9999px;
}

.svg{
  border-radius: 9999px;
}
.svg:hover{
  box-shadow: 5px 5px 5px rgb(50, 59, 62);
}
.button_story{
  width: 94%;
  display: flex;
justify-content: flex-end;
gap: 20px;

}


#button_b {
  margin-right: 15px;
}
#button_n {
  margin-left: 15px;

}
.map_post {
  border: 1px rgb(219, 219, 219) solid;
  border-radius: 8px;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 90%;
  height: 580px;
}

#img_post {
  height: 100%;
  width: 100%;
  margin-top: 2%;
}
.img_main {
 height: 70%;

}
#p_post {
  height: 20%;
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
  gap: 5px;
}
.show_comment {
  position: absolute;
  z-index: 10px;
  width: 60%;
  height: 400px;
  background-color: chartreuse;
}
.main_comment {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: darkkhaki;
}
.right_s {
  height: 100%;
  width: 50%;
  background-color: darkorchid;
  /* margin-right: 30%; */
}
.left_s {
  height: 100%;
  width: 50%;
  /* margin-right: 10%; */
  /* justify-content: center;
align-items: center; */
}
.img-c {
  height: 100%;
  width: 100%;
}
.input_button {
  height: 40%;
  width: 30%;
  /* background-color: dimgrey; */
}
.Add_comment {
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
}
.buttonAdd {
  height: 30px;
  width: 200px;
  
}
.comment_section {
  height: 50%;
  width: 50%;
}
#icon_home{
  background-color: white;
  border: 0ch;
  border-color: white;
  
  
}
#icon{
  height: 25px;
  width: 40px;
  cursor: pointer;
  border-radius: 9999px;
}


#icon:hover{
  color: tomato; 
 /*  box-shadow: 10px 5px 5px rgb(50, 59, 62); */
}
.headicon{
  margin-top: 15px;
  width: 100%;
  height: 20%;
  display: flex;
}
.icon_main{
 display: flex;
height: 30%;
flex-direction: column;
}

.bookmarkmark{
  all: unset;
  cursor: pointer;
  margin-left: 80%;
}

.numLikes{
  height: 10%;
  display: flex;
  margin-left: 10px;
}
.desc{
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.datee{
  display: flex;
  margin-left: 10px;
  font-size: 10px;
}
.footerpost{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
  width: 99%;
  border: 2px solid rgba(219,219,219);
  color: #77A7FF;
}

.azx{
  border: 0px;
  width: 90%;
  height: 100%;
  padding-left: 10px;
}

.cruser{
  cursor: pointer;
}

.headerName{
  height: 5%;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 5px;
}
.imgpoUs{
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  margin-top: 3px;
}

