.contenar-main {
  display: flex;
  flex-direction: column;
}
.nav-section {
  display: flex;
  justify-content: center;
  align-items: space-around;
  height: 55px;
  background-color: white;
 
}
.FooterCCo{
  display: flex;
  height: 15%;
  border-top: 1px ridge;
  align-items: center;
}
.post_home {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.storys-department {
  display: flex;
  flex-direction: column;
  border: 1px rgb(219, 219, 219) solid;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 16px;
}
.map_story {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 3%;
  
}
.img_story {
  height: 50px;
  width: 50px;
  border: 1px solid rgb(133, 152, 86);
  border-radius: 9999px;
  cursor: pointer;
}
.img_story:hover{
  border: 2px solid rgb(203, 128, 58);
}
.middle_side {
  width: 50%;
}

.left_side {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.right_side {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.headsug{
  opacity: 0.6;
  margin-top: 120px;
  margin-left: 10px;
  border-bottom: 1px ridge;
}
.main_story {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  
  
  /* border: 1px black solid; */
}
.set{
  cursor: pointer;
  border-radius: 9999px;
}

.svg{
  border-radius: 9999px;
}
.svg:hover{
  box-shadow: 5px 5px 5px rgb(50, 59, 62);
}
.button_story{
  width: 94%;
  display: flex;
justify-content: flex-end;
gap: 20px;

}


#button_b {
  margin-right: 15px;
}
#button_n {
  margin-left: 15px;

}
.map_post {
  border: 1px rgb(219, 219, 219) solid;
  border-radius: 8px;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 90%;
  height: 580px;
}

#img_post {
  height: 100%;
  width: 100%;
  margin-top: 2%;
}
.img_main {
 height: 70%;

}
#p_post {
  height: 15%;
  display: flex;
  margin-left: 10px;
  margin-top: 1px;
  gap: 5px;
}
.show_comment {
  position: absolute;
  z-index: 10px;
  width: 70%;
  height: 500px;
  background-color: rgb(239,239,239);
  margin-top: -400px;
  margin-left:-150px ;
  box-shadow: 5px 7px #dcd6d6;
  font: inherit;
  border-radius:8px ;

}
.main_comment {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(239,239,239);
  

  

}
.right_s {
  height: 100%;
  width: 50%;
  background-color: darkorchid;
  /* margin-right: 30%; */
}
.left_s {
  height: 100%;
  width: 50%;
  
}
.close{
  height: 20px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;


}
.closeb{
  border: 0px solid rgba(219,219,219);
 margin-right: 5px;
 margin-top: 5px;
 font-size: 20px;
cursor: pointer;
}
.closeb:hover{
  color: tomato;
}
.p_post{
  height: 60px;
  width: 100%;
}
.img-c {
  height: 100%;
  width: 100%;
  
}
.input_button {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: dimgrey; */
}
.Add_comment {
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
}
.buttonAdd {
  height: 31px;
  width: 100px;
  border: 0px solid white;
  background-color:white ;
  font: inherit;
  color: #77A7FF;

  
}
.comment_section {
  height: 62%;
  width: 100%;
  margin-left: 10px;
  margin-bottom: 40px;
}
#icon_home{
  background-color: white;
  border: 0ch;
  border-color: white;
  
  
}
#icon{
  height: 25px;
  width: 40px;
  cursor: pointer;
  border-radius: 9999px;
}


#icon:hover{
  color: tomato; 
 /*  box-shadow: 10px 5px 5px rgb(50, 59, 62); */
}
.headicon{
  margin-top: 15px;
  width: 100%;
  height: 20%;
  display: flex;
}
.icon_main{
 display: flex;
height: 30%;
flex-direction: column;
}

.bookmarkmark{
  all: unset;
  cursor: pointer;
  margin-left: 80%;
}

.numLikes{
  height: 10%;
  display: flex;
  margin-left: 10px;
}
.desc{
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.datee{
  display: flex;
  margin-left: 10px;
  font-size: 10px;
}
.footerpost{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
  width: 99%;
  border: 2px solid rgba(219,219,219);
  color: #77A7FF;
}
.bbllue{
  color: #6498f8;
  width: 10%;
  display: flex;
  justify-content: center;
}


.azx{
  border: 0px;
  width: 87%;
  height: 100%;
  padding-left: 10px;
}
.azx2{
  border: 0px;
  width:360px;
  height: 30px;
  font: inherit;

  margin-left: 5px;

}
.main_co{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
  /* border-bottom: 1px ridge; */

}
.fl_co{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-bottom: 2px ridge;

  border-bottom: 2px ridge;


}
.fl_co1{
  display: flex;
  flex-direction: row;
  border-bottom: 1px ridge;
  align-items: center;
gap: 5px;
}

.cruser{
  cursor: pointer;
}
.h5_co{
  display: flex;
 flex-direction: row;
  gap: 10px;
  
  
}
#ww{
  gap: 5px;
}
.headerName1{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
justify-content: center;

 
}
.onnne{
  width: 10%;
}
.secconnd{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerName{
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
.ff410{
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.r410{
  font-size: 10px;
  background-color: #77A7FF;
  border: 0ch;
  border-radius: 8px;
  color: aliceblue;
  margin-right: 17px;
  cursor: pointer;
}
.r410:hover{
  border: 1px solid;
}
.imgpoUs{
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  margin-top: 3px;
}



.main_comment{
 height: 100%;
 width: 100%;
 margin-bottom: 100px;

}

