.navbar {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
}
.nav_header {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.search_popup {
  position: absolute;
  height: 70%;
  width: 58%;
  z-index: 10px;
  margin-top: 10%;
  margin-left: 250px;
  border-radius: 5px;
  background-color: blueviolet;
}
.search_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px groove;
  margin-top: 20px;
  gap: 5px;
  margin-left: 5px;
}

.p_pic {
  border-radius: 9999px;
  width: 30px;
  height: 30px;
}

.add_poster {
  position: absolute;
  height: 400px;
  width: 500px;
  z-index: 10px;
  margin-top: 50%;
  margin-left: 30%;
  border-radius: 5px;
  background-color: rgb(132, 109, 187);
}
.logo {
  height: 30px;
  width: 110px;
  
}
#search {
  height: 36px;
  min-width: 268px;
  align-items: center;
  background-color: rgb(239, 239, 239);
  border: white;
  border-radius: 8px;
  /* margin-right: 80px; */
}
.search_bar {
  
}
/* background-color:#fbfbfb; */
